Repository Ardigi/Overmatch-Digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @soc-platform/engineering, @soc-platform/frontend, @soc-platform/backend, @soc-platform/security, @soc-platform/compliance, @soc-platform/integrations, @soc-platform/ai, @soc-platform/architects, @soc-platform/devops, @soc-platform/database, @soc-platform/technical-writers, @soc-platform/leads

.github/CODEOWNERS:

# CODEOWNERS file for SOC Compliance Platform
# This file defines who is responsible for code review in different parts of the codebase

# Default owners for everything in the repo
* @soc-platform/engineering

# Frontend code owners
/app/ @soc-platform/frontend
/components/ @soc-platform/frontend
/hooks/ @soc-platform/frontend
/lib/ @soc-platform/frontend
/contexts/ @soc-platform/frontend
*.tsx @soc-platform/frontend
*.css @soc-platform/frontend
tailwind.config.ts @soc-platform/frontend

# Backend services owners
/services/auth-service/ @soc-platform/backend @soc-platform/security
/services/client-service/ @soc-platform/backend
/services/policy-service/ @soc-platform/backend @soc-platform/compliance
/services/control-service/ @soc-platform/backend @soc-platform/compliance
/services/evidence-service/ @soc-platform/backend
/services/workflow-service/ @soc-platform/backend
/services/reporting-service/ @soc-platform/backend
/services/audit-service/ @soc-platform/backend @soc-platform/compliance
/services/integration-service/ @soc-platform/backend @soc-platform/integrations
/services/notification-service/ @soc-platform/backend
/services/ai-service/ @soc-platform/backend @soc-platform/ai

# Shared packages owners
/packages/ @soc-platform/architects
/shared/ @soc-platform/architects

# Infrastructure and DevOps
/infrastructure/ @soc-platform/devops
/helm/ @soc-platform/devops
/.github/ @soc-platform/devops
/docker-compose*.yml @soc-platform/devops
Dockerfile @soc-platform/devops
*.ps1 @soc-platform/devops
*.sh @soc-platform/devops

# Security-sensitive files
**/auth* @soc-platform/security
**/security* @soc-platform/security
**/crypto* @soc-platform/security
.env* @soc-platform/security @soc-platform/devops

# Database and migrations
**/migrations/ @soc-platform/database
**/entities/ @soc-platform/database
**/data-source.ts @soc-platform/database
ormconfig* @soc-platform/database

# Documentation
/docs/ @soc-platform/technical-writers @soc-platform/architects
*.md @soc-platform/technical-writers
README.md @soc-platform/technical-writers @soc-platform/leads

# CI/CD workflows
/.github/workflows/ @soc-platform/devops @soc-platform/leads

# Critical configuration files
package.json @soc-platform/leads
tsconfig.json @soc-platform/architects
.eslintrc* @soc-platform/architects
jest.config* @soc-platform/architects

# Compliance and audit files
**/compliance/ @soc-platform/compliance
**/audit/ @soc-platform/compliance
**/soc*/ @soc-platform/compliance

# Test files - optional review
*.spec.ts
*.test.ts
*.spec.js
*.test.js
/test/
/tests/

# Build and generated files - no review needed
/dist/
/build/
*.lock
*.log

chore: remove development tokens for security
  keycloak-token.txt
  login.json
Owners: @soc-platform/engineering

docs: remove AI tool references from documentation
  .gitignore
  CLAUDE.md
  DUAL_JEST_CONFIG_IMPLEMENTATION.md
  TEST_EXECUTION_REPORT.md
Owners: @soc-platform/engineering, @soc-platform/technical-writers

docs: remove references to deleted CLAUDE.md file
  README.md
  docs/README.md
Owners: @soc-platform/technical-writers, @soc-platform/leads

chore: refresh contributor cache
  .github/REFRESH
Owners: @soc-platform/devops

fix: resolve jwks-rsa ES module issue in auth-service tests
  docs/KEYCLOAK_SERVICE_MOCKING_PATTERN.md
  services/auth-service/src/modules/auth/auth.controller.owasp.spec.ts
  services/auth-service/src/modules/auth/auth.controller.spec.ts
  services/auth-service/src/modules/auth/auth.service.spec.ts
Owners: @soc-platform/technical-writers

feat: add dual Jest configuration to policy-service
  services/policy-service/jest.config.integration.js
  services/policy-service/jest.config.unit.js
Owners: @soc-platform/architects

feat: add dual Jest configuration to client-service
  services/client-service/jest.config.integration.js
  services/client-service/package.json
Owners: @soc-platform/architects, @soc-platform/leads

feat: add API versioning to client-service controllers
  services/auth-service/test-output.txt
  services/client-service/src/modules/audits/audits.controller.ts
  services/client-service/src/modules/clients/clients.controller.ts
  services/client-service/src/modules/contracts/contracts.controller.ts
  services/client-service/test/e2e/clients.e2e-spec.ts
Owners: @soc-platform/security, @soc-platform/backend

fix: add TypeScript type annotation for ServiceDiscovery response
  services/client-service/src/modules/clients/clients.service.ts
Owners: @soc-platform/backend

feat: add API versioning to policy-service controllers
  services/policy-service/src/modules/api-keys/api-keys.controller.ts
  services/policy-service/src/modules/audit/audit.controller.ts
  services/policy-service/src/modules/compliance/compliance-mapping.controller.ts
  services/policy-service/src/modules/compliance/controls.controller.ts
  services/policy-service/src/modules/compliance/frameworks.controller.ts
  services/policy-service/src/modules/controls/controls.controller.ts
  services/policy-service/src/modules/monitoring/monitoring.controller.ts
  services/policy-service/src/modules/policies/policies.controller.ts
  services/policy-service/src/modules/policy-engine/policy-engine.controller.ts
Owners: @soc-platform/backend, @soc-platform/compliance

feat: add API versioning to control, evidence, and workflow services
  services/control-service/src/modules/control-tests/control-tests.controller.ts
  services/control-service/src/modules/controls/controls.controller.ts
  services/control-service/src/modules/frameworks/frameworks.controller.ts
  services/control-service/src/modules/implementation/implementation.controller.ts
  services/control-service/src/modules/mapping/mapping.controller.ts
  services/control-service/src/modules/test-auth/test-auth.controller.ts
  services/evidence-service/src/modules/collectors/collectors.controller.ts
  services/evidence-service/src/modules/evidence/evidence.controller.ts
  services/evidence-service/src/modules/validation/validation.controller.ts
  services/workflow-service/src/modules/workflows/workflow-instances.controller.ts
  services/workflow-service/src/modules/workflows/workflow-templates.controller.ts
Owners: @soc-platform/backend, @soc-platform/compliance

feat: add API versioning to reporting, audit, and integration services
  services/audit-service/src/modules/audit-trail/audit-trail.controller.ts
  services/audit-service/src/modules/audits/audits.controller.ts
  services/audit-service/src/modules/events/events.controller.ts
  services/audit-service/src/modules/findings/findings.controller.ts
  services/audit-service/src/modules/soc-audits/soc-audits.controller.ts
  services/integration-service/src/modules/integrations/integrations.controller.ts
  services/integration-service/src/modules/sync/sync.controller.ts
  services/integration-service/src/modules/webhooks/webhooks.controller.ts
  services/reporting-service/src/modules/reports/reports.controller.ts
Owners: @soc-platform/backend, @soc-platform/compliance, @soc-platform/integrations

feat: complete API versioning rollout - final 2 services (notification, AI)
  services/ai-service/src/modules/ai/ai.controller.ts
  services/ai-service/src/modules/analysis/analysis.controller.ts
  services/ai-service/src/modules/mappings/mappings.controller.ts
  services/ai-service/src/modules/predictions/predictions.controller.ts
  services/ai-service/src/modules/remediation/remediation.controller.ts
  services/notification-service/src/modules/notifications/notifications.controller.ts
  services/notification-service/src/modules/rules/rule-management.controller.ts
Owners: @soc-platform/backend, @soc-platform/ai

docs: update STATUS.md with API versioning completion
  docs/STATUS.md
Owners: @soc-platform/technical-writers

fix: streamline CI/CD workflows for local development
  .github/workflows/ci-cd.yml
  .github/workflows/continuous-compliance.yml
  .github/workflows/daily-regression.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/emergency-hotfix.yml
  .github/workflows/local-dev-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-notes.yml
  .github/workflows/security-scan.yml
Owners: @soc-platform/devops, @soc-platform/leads
